/* TITILLIUM WEB */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/TitiliumWeb/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/TitiliumWeb/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitiliumWeb-Regular;
    src: url(../assets/fonts/TitiliumWeb/TitilliumWeb-Regular.ttf);
}

/******* INTER *******/
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/******* QUICKSAND *******/
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

/* Classes genéricas */
.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header Top */
header .header-top {
    display: none;
}

/* Header Bottom */


header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}

/* somente links "filhos diretos" */
header .header-bottom nav>a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav>a:hover {
    background-color: #F9AA01;

}

header .header-bottom nav>a:last-of-type {
    border-bottom: none;
}

/* ícone de mídias sociais possibilidade position 
header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

header .header-bottom nav .midias-sociais {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
    gap: 50px;
}

/* menu lateral direito - ícones */
header .header-bottom .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -19vw;
    width: 19vw;
    height: 170px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: right 0.4s;
}

/******************************* MAIN ********************************/
.cadastro-background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    height: 1230px;
    width: 100%;
    backdrop-filter: blur(2px);

    z-index: 0;
}
/********** CAIXA COM FUNDO ************/
.cadastro-box {
    width: 335px;
    height: 500px;
    border: 1px solid white;
    background: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.3)) padding-box,
        linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(5px);
    border-radius: 8px;

    position: absolute;

    margin-top: -1160px;
    margin-left: 20px;
}

.cadastro-box h1 {
    font-family: TitilliumWeb-Black;
    font-size: 28px;
    text-transform: uppercase;

    margin-top: 30px;
    margin-left: 22px;

}



.cadastro-box hr {
    width: 250px;
    height: 2.5px;
    margin-left: 40px;
    background-color: #F9AA01;
    color: #F9AA01;
    border-width: 0;
    margin-top: 8px;
    margin-bottom: 50px;
}

/*********** INPUT ***********/
main .linha {}

.linha input {
    height: 40px;
    width: 273px;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;

    border-radius: 8px;
    border: 1px solid white;
    background: linear-gradient(to right, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1)) padding-box,
        linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)) border-box;
    backdrop-filter: blur(6px);
}

main .linha> ::placeholder {
    font-family: TitiliumWeb-Regular;
    font-size: 16px;
    color: white;

    padding-left: 10px;
}

.linha button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-left: 30px;

    height: 40px;
    width: 120px;

    border-radius: 8px;
    border: none;

    background-color: rgba(217, 217, 217, 1);

    font-family: TitilliumWeb-Bold;

    font-size: 13px;
}

.linha button:last-of-type {
    margin-top: 40px;

    width: 270px;

    font-family: TitilliumWeb-Bold;
    font-size: 24px;

    background-color: #F9AA01;

}

.linha button:first-of-type::after {
    content: "Nenhuma imagem selecionada...";
    position: absolute;

    display: flex;
    margin-left: 335px;

    width: 200px;

    font-family: TitiliumWeb-Regular;
    font-size: 10px;
    color: white;
}


/*************** TABLE ***************/

/* main .identificacao {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    
    margin-top: -580px;
    margin-left: -35px;
    color: #F9AA01;

    width: 100%;
}

main .identificacao h1 {
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-transform: uppercase;
}
main .identificacao h2 {
    font-family: TitilliumWeb-Black;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: -30px;
}
main .identificacao h3 {
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: -20px;
}

 .hr {
    display: flex;
    flex-direction: row;
    
    height: 2px;
    color: #F9AA01;
} */
/********* TUDO AQUI EM CIMA ERA O TITULO DA TABELA SEPARADO **********/

table {
    position: absolute;
    top: 730px;
    left: 20px;
    
    width: 335px;
    height: 350px;
    
    border: 1px solid white;
    background: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

table thead tr th{
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    color: #F9AA01;
    text-transform: uppercase;

    display: flex;
    margin-left: 20px;
    flex-direction: row;

    flex-wrap: wrap;
}

